<footer>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            @Html.Partial("_Logo");
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="footer-social">
                <div class="youtube">
                    <a href="https://www.youtube.com/channel/UCk4WBpi7RttuncJKGriYvuQ" target="_blank" class="shareBtn">
                        <i class="fa fa-youtube" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="linkedin">
                    <a href="https://www.linkedin.com/in/ieuanwalker/" target="_blank" class="shareBtn">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="twitter">
                    <a href="https://twitter.com/IeuanTWalker" target="_blank" class="shareBtn">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="twitter">
                    <a href="https://github.com/IeuanWalker/" target="_blank" class="shareBtn">
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid copy-footer">
        <span>Ieuan Walker</span>
    </div>
</footer>
