@{
    ViewBag.Title = "About";
    ViewBag.Description = "The is a project that was created as part of my disseration at Cardiff Metroploitan University";
}

<header class="page-header">
    <h1><span aria-hidden="true" class="fa fa-users"></span> @ViewBag.Title</h1>
</header>

<p>@ViewBag.Description</p>
