@{
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";

    ViewBag.Title = "Home";
}

<header class="homePage-header">
    <div class="row-fluid">
        <div class="col-xs-12">
            <div class="search-content">
                @Html.Partial("_Logo")
                @Html.Partial("_SearchForm")
                <p>Created by <a href="https://www.linkedin.com/in/ieuanwalker/" target="_blank"><strong>Ieuan Walker</strong></a> as part of my dissertation at <a href="#" target="_blank"><strong>Cardiff Metropolitan University</strong></a></p>
            </div>
        </div>
    </div>
    <canvas id="header-connectors" class="js-Connectors"></canvas>
</header>
