@{
    ViewData["Title"] = "Home Page";
}
<div class="h-100 row align-items-center">
    <div class="col">
        @await Html.PartialAsync("_Logo")
        <br/>
        <form asp-controller="Home" asp-action="Index" class="input-group mb-3">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="searchText">
        </form>
        <p class="text-center" style="color: #fff">Created by <a href="https://www.linkedin.com/in/ieuanwalker/" target="_blank" style="color: #fff"><strong>Ieuan Walker</strong></a> as part of my dissertation at <a href="#" target="_blank" style="color: #fff"><strong>Cardiff Metropolitan University</strong></a></p>
    </div>
</div>
