.main-header {
    background-color: #000;
    padding-top: 40px;

    .container {
        position: relative;
        z-index: 1;

        .contents {
            @include breakpoint(1350px) {
                display: flex;
            }

            width: 100%;

            .brand {
                display: flex;
                justify-content: center;
                align-items: center;

                .logo {
                    a {
                        h1 {
                            font-size: 40px;
                        }

                        span {
                            font-size: 14px;
                            letter-spacing: 13px;
                        }

                        @include breakpoint(1350px) {
                            h1 {
                                font-size: 40px;
                            }

                            span {
                                font-size: 10px;
                                letter-spacing: 10px;
                            }
                        }
                    }
                }
            }

            .searchBar {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-grow: 1;

                .search-input {
                    width: 100%;
                    padding: 10px;

                    input {
                        width: 100%;
                        padding: 10px;
                        background-color: #fff;
                        margin-top: 10px;

                        @include breakpoint(1350px) {
                            margin-top: 0px
                        }
                    }
                }
            }
        }
    }
}

.angles {
    position: relative;

    .angle {
        background-color: #000;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100px;
        padding: 3em;
    }

    .angle1 {
        transform: rotate(3deg);
        left: 10px;
    }

    .angle2 {
        transform: rotate(-3deg);
        right: 10px;
    }
}