.search-content {
	z-index: 1;
	width: 100%;
	max-width: 700px;
	margin: 0 auto;
	.search-input {
		margin-top: 30px;
		input {
			width: 100%;
			padding: 10px;
			background-color: #fff;
		}
	}
	p{
		padding: 20px;
		color: #fff;
		text-align: center;
		a{
			color: #fff;
		}
	}
}

.search-results {
	position: relative;
	margin-top: 60px;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	.results {
		width: 100%;
		height: auto;
		min-height: 900px;
		margin-bottom: 60px;
		background-color: #fff;
		box-shadow: 0 0 15px #888;
	}
}